///////////////////////////////////////////////////////////////////////////////
// style.scss
//
// Primary SCSS file.
///////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////
// Config Variables
///////////////////////////////////////////////////////////////////////////////

// $compiled-css-id
//
// A unique string generated each time the files are compiled.
$compiled-css-id: unique-id();

// $assets-path
//
// The path to the 'assets' directory.
$assets-path: '../';

// $images-path
//
// The path to the 'assets/images' directory.
$images-path: $assets-path + 'images/';

///////////////////////////////////////////////////////////////////////////////
// Functions
///////////////////////////////////////////////////////////////////////////////

// image-url()
//
// Accepts a filename of an image in the 'assets/images' directory and returns
// a `url()` value with the `$compiled-css-id` appended as part of a query
// string.
//
// Example:
//   scss (input):
//     background-image: image-url('example.jpg');
//   css (output):
//     background-image: url(../images/example.jpg?v=ubaf6c7ed);
@function image-url($image-filename) {
  $image-path: $images-path + $image-filename;
  $versioned-image-path: $image-path + '?v=' + $compiled-css-id;
  @return url($versioned-image-path);
}

///////////////////////////////////////////////////////////////////////////////
// Framework Imports
///////////////////////////////////////////////////////////////////////////////

// Underscores
//
// http://underscores.me/
// https://github.com/automattic/_s
//
// NOTE: Uncomment to include default underscores styles.
// @import 'underscores/style';

// Zurb Foundation
//
// Foundation is a responsive front-end framework. Foundation provides a
// responsive grid and HTML and CSS UI components, templates, and code
// snippets, including typography, forms, buttons, navigation and other
// interface components, as well as optional JavaScript extensions. Foundation
// is maintained by ZURB and is an open source project.
//
// http://foundation.zurb.com/
// http://foundation.zurb.com/sites/docs/
// https://github.com/zurb/foundation-sites
// https://en.wikipedia.org/wiki/Foundation_(framework)
//
// See Also:
// https://foundationpress.olefredrik.com/
// https://github.com/olefredrik/foundationpress
@import 'foundation/base';

// Font Awesome
//
// The iconic font and CSS toolkit
//
// http://fontawesome.io/
// https://github.com/FortAwesome/Font-Awesome
@import 'font-awesome/font-awesome';
